<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layoutGamestudio.html}"
        lang="sk">
<head>
    <title>Gamestudio - Kamene</title>
</head>
<body id="body">
<main layout:fragment="content">
    <h2>Kamene</h2>

    <div class="minesControl">
        <span id="gameStatus"></span>
        <button type="button" id="btNewGame" class="abutton" onclick="processNewGameClick()">Nová hra</button>
    </div>

    <section id="field"></section>

    <section>
        <div>
            Priemerný rating: <span id="averageRating"></span>
        </div>
        <div id="averageRatingDivForm">
            <form id="ratingForm">
                <select id="rating" name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button type="submit">Pridaj</button>
                <br/>
            </form>
        </div>
    </section>

    <section>
        <h3>Najlepšie skóre</h3>
        <table class="scores">
            <thead>
            <tr>
                <th>Poradie</th>
                <th>Meno</th>
                <th>Body</th>
                <th>Dátum a čas hry</th>
            </tr>
            </thead>
            <tbody id="scoresTableBody">
            </tbody>
        </table>
    </section>

    <section>
        <br/>
        <label for="comment">Zadaj komentár, ak sa na to cítiš:</label> <br/>
        <form id="commentForm">
            <input id="comment" type="text" name="comment" maxlength="1000"/>
            <button id="commentSubmit" type="submit">Odoslať</button> <br/>
        </form>

        <div>
            <table class="comments">
                <thead>
                <tr>
                    <th>Meno</th>
                    <th>Komentár</th>
                    <th>Dátum</th>
                </tr>
                </thead>
                <tbody id="commentsTable">
                </tbody>
            </table>
        </div>
    </section>

    <script type="text/javascript">

        let elements = {
            field: document.getElementById("field"),
            scoresTableBody: document.getElementById("scoresTableBody"),
            gameStatus: document.getElementById("gameStatus"),
            averageRating: document.getElementById("averageRating"),
            comments: document.getElementById("commentsTable")
        };

        const divRatingForm = document.getElementById("averageRatingDivForm");

        fetchAndRenderScores("/api/score/kamene", elements);
        fetchAndRenderRating("/api/rating/avg/kamene", elements);
        fetchAndRenderComments("/api/comment/kamene", elements);
        fetchAndRenderField("/kamene/json", elements);

        //---------------------listeners
        document.getElementById("body").addEventListener('keyup', event => {
            event.preventDefault();
            keyboardControl(event);
        });

        document.getElementById("ratingForm").addEventListener("submit", event => {
            event.preventDefault();
            submitRating("http://localhost:8080/kamene/jsonrating");
        });
        document.getElementById("commentForm").addEventListener("submit", event => {
            event.preventDefault();
            submitComment("http://localhost:8080/kamene/jsoncomment");
        })

        //---------------------submitting
        async function submitComment(url) {
            const request =
                {
                    method: 'POST',
                    body: document.getElementById("comment").value.trim()
                }
            await fetch(url, request)
                .then(response => {
                    if (response.ok) {
                        return response.text();
                    } else {
                        return Promise.reject(new Error(`Server answered with ${response.status}: ${response.statusText}.`));
                    }
                });

            fetchAndRenderComments("/api/comment/kamene", elements);
        }

        async function submitRating(url) {
            const request =
                {
                    method: 'POST',
                    body: document.getElementById("rating").options[rating.selectedIndex].value
                }
            await fetch(url, request)
                .then(response => {
                    if (response.ok) {
                        return response.text();
                    } else {
                        return Promise.reject(new Error(`Server answered with ${response.status}: ${response.statusText}.`));
                    }
                });

            fetchAndRenderRating("/api/rating/avg/kamene", elements);
        }

        //---------------------processing
        async function keyboardControl(event) {
            const request =
                {
                    method: 'POST',
                    body: event.key
                };

            await fetch("/kamene/keyboardControl", request)
                .then(response => {
                    if (response.ok)
                        return response.text();
                    else
                        return Promise.reject(new Error(`Server answered with ${response.status}: ${response.statusText}.`));
                });

            fetchAndRenderField("/kamene/json", elements);
        }

        function processStoneClick(row, col) {
            fetchAndRenderField(`/kamene/json?row=${row}&column=${col}`, elements);
        }

        function processNewGameClick() {
            fetchAndRenderField("/kamene/jsonnew", elements);
        }

        //---------------------fetching
        function fetchAndRenderComments(url, elements) {
            fetch(url)  //there may be a second parameter, an object wih options, but we do not need it now.
                .then(response => {      //fetch promise fullfilled (operation completed successfully)
                    if (response.ok) {    //successful execution includes an error response from the server. So we have to check the return status of the response here.
                        return response.json(); //we return a new promise with the response data as a js object, constructed from the JSON string in the response
                    } else { //if we get server error
                        return Promise.reject(new Error(`Comments acquisition failed. Server answered with ${response.status}: ${response.statusText}.`)); //we return a rejected promise to be catched later
                    }
                })
                .then(comments => { //here we process the returned response data in JSON ...
                    console.log(comments);
                    renderComments(comments, elements);
                })
                .catch(error => { ////here we process all the failed promises
                    errorMessage = "Nepodarilo sa získať alebo zobraziť komentáre. Podrobnosti: " + error;
                    // console.log(errorMessage);
                    elements.scoresTableBody.innerHTML = errorMessage;
                });
        }

        function fetchAndRenderRating(url, elements) {
            fetch(url)  //there may be a second parameter, an object wih options, but we do not need it now.
                .then(response => {      //fetch promise fullfilled (operation completed successfully)
                    if (response.ok) {    //successful execution includes an error response from the server. So we have to check the return status of the response here.
                        return response.json(); //we return a new promise with the response data as a js object, constructed from the JSON string in the response
                    } else { //if we get server error
                        return Promise.reject(new Error(`Average rating acquisition failed. Server answered with ${response.status}: ${response.statusText}.`)); //we return a rejected promise to be catched later
                    }
                })
                .then(rating => { //here we process the returned response data in JSON ...
                    console.log(rating);
                    renderRating(rating, elements);
                })
                .catch(error => { ////here we process all the failed promises
                    errorMessage = "Nepodarilo sa získať alebo zobraziť priemerný rating. Podrobnosti: " + error;
                    // console.log(errorMessage);
                    elements.scoresTableBody.innerHTML = errorMessage;
                });
        }

        function fetchAndRenderScores(url, elements) {
            fetch(url)  //there may be a second parameter, an object wih options, but we do not need it now.
                .then(response => {      //fetch promise fullfilled (operation completed successfully)
                    if (response.ok) {    //successful execution includes an error response from the server. So we have to check the return status of the response here.
                        return response.json(); //we return a new promise with the response data as a js object, constructed from the JSON string in the response
                    } else { //if we get server error
                        return Promise.reject(new Error(`Best scores acquisition failed. Server answered with ${response.status}: ${response.statusText}.`)); //we return a rejected promise to be catched later
                    }
                })
                .then(bestScoresData => { //here we process the returned response data in JSON ...
                    console.log(bestScoresData);
                    renderBestScores(bestScoresData, elements);
                })
                .catch(error => { ////here we process all the failed promises
                    errorMessage = "Nepodarilo sa získať alebo zobraziť údaje o najlepších skóre. Podrobnosti: " + error;
                    // console.log(errorMessage);
                    elements.scoresTableBody.innerHTML = errorMessage;
                });
        }

        function fetchAndRenderField(url, elements) {
            fetch(url)  //there may be a second parameter, an object wih options, but we do not need it now.
                .then(response => {      //fetch promise fullfilled (operation completed successfully)
                    if (response.ok) {    //successful execution includes an error response from the server. So we have to check the return status of the response here.
                        return response.json(); //we return a new promise with the response data as a js object, constructed from the JSON string in the response
                    } else { //if we get server error
                        return Promise.reject(new Error(`Best scores acquisition failed. Server answered with ${response.status}: ${response.statusText}.`)); //we return a rejected promise to be catched later
                    }
                })
                .then(fieldData => { //here we process the returned response data in JSON ...
                    console.log(fieldData);
                    renderField(fieldData, elements);

                    if (!fieldData.solved) {
                        elements.gameStatus.innerHTML = "hrá sa";
                        divRatingForm.style.visibility = 'hidden';
                    } else {
                        elements.gameStatus.innerHTML = "vyhral si";
                        fetchAndRenderScores("/api/score/kamene", elements);
                        divRatingForm.style.visibility = 'visible';
                    }
                })
                .catch(error => { ////here we process all the failed promises
                    errorMessage = "Nepodarilo sa získať alebo zobraziť údaje o najlepších skóre. Podrobnosti: " + error;
                    // console.log(errorMessage);
                    elements.field.innerHTML = errorMessage;
                });
        }

        //-------------------rendering
        function renderComments(comments, elements) {
            const rowCount = comments.length;
            let htmlToRender = "";

            for (row = 0; row < rowCount; row++) {
                htmlToRender +=
                    `<tr>
                        <td>${comments[row].username}</td>
                        <td>${comments[row].comment}</td>
                        <td>${comments[row].commentedOn}</td>
                    </tr>`;
            }

            elements.comments.innerHTML = htmlToRender;
        }

        function renderRating(rating, elements) {
            elements.averageRating.innerHTML = rating;
        }

        function renderBestScores(bestScoresData, elements) {
            const rowCount = bestScoresData.length;
            let htmlToRender = "";

            for (row = 0; row < rowCount; row++) {
                htmlToRender +=
                    `<tr>
                   <td>
                       ${row + 1}
                   </td>
                   <td>
                       ${bestScoresData[row].username}
                   </td>
                   <td>
                       ${bestScoresData[row].points}
                   </td>
                   <td>
                       ${bestScoresData[row].playedOn}
                   </td>
                </tr>
               `;

                elements.scoresTableBody.innerHTML = htmlToRender;
            }
        }

        function renderField(fieldData, elements) {
            let htmlToRender = "<table class='minefield'>\n";

            for (row = 0; row < fieldData.rowCount; row++) {
                htmlToRender += "<tr>\n";
                for (col = 0; col < fieldData.columnCount; col++) {
                    let onClickHandling = "";
                    if (!fieldData.solved) {
                        onClickHandling = `onclick='processStoneClick(${row}, ${col})'`;
                    }

                    htmlToRender +=
                        `<td ${onClickHandling}>
                            <span>${getStoneText(fieldData.stones[row][col])}</span>
                         </td>`;
                }
                htmlToRender += "</tr>\n";
            }
            htmlToRender += "<tr>\n";
            htmlToRender += "<table>\n";

            elements.field.innerHTML = htmlToRender;
        }

        function getStoneText(stone) {
            if (stone != null)
                return stone.value;
            else
                return " ";
        }

    </script>

</main>
</body>
</html>