<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="sk">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Stefan Korecko" />
    <link rel="stylesheet"
          href="/css/mines.css"
          media="screen" />

    <title>GameStudio - Minesweeper</title>
</head>

<body>

    <h2>Minesweeper</h2>

    <div class="minesControl">
        <a class="abutton" href="/minesweeper/new">Nova hra</a>
        <span th:if="${@minesweeperController.marking}">
            Prave oznacujes
            <a href="/minesweeper/mark">Zmen na otvaranie</a>
        </span>
        <span th:if="not ${@minesweeperController.marking}">
            Prave otvaras
            <a class="abutton" href="/minesweeper/mark">Zmen na oznacovanie</a>
        </span>
    </div>

    <div class="gameState">
        <aside th:text="${gameState}"></aside>
    </div>

<!--    <div th:utext="${@minesweeperController.getFieldAsHtml()}"></div>-->

    <div>
        <span th:if="${@minesweeperController.play}">
            <table class='minefield'>
                <tr th:each="row: ${minesweeperField}">
                    <td th:each="tile: ${row}"
                        th:attr="class=${@minesweeperController.getTileClass(tile)}">
                            <a th:attr="href='/minesweeper/?row='+${rowStat.index}+'&column='+${tileStat.index}">
                                <span th:text="${@minesweeperController.getTileText(tile)}"></span>
                            </a>
                    </td>
                </tr>
            </table>
        </span>
         <span th:if="not ${@minesweeperController.play}">
             <table class='minefield'>
                <tr th:each="row: ${minesweeperField}">
                    <td th:each="tile: ${row}"
                        th:attr="class=${@minesweeperController.getTileClass(tile)}">
                        <span th:text="${@minesweeperController.getTileText(tile)}"></span>
                    </td>
                </tr>
             </table>
         </span>
    </div>

    <div>
        <table class="bestScores">
            <tr>
                <th>Meno</th>
                <th>Body</th>
                <th>Dátum</th>
            </tr>
            <tr th:each="score: ${bestScores}">
                <td th:text="${score.getUsername}"></td>
                <td th:text="${score.getPoints}"></td>
                <td th:text="${score.getPlayedOn}"></td>
            </tr>
        </table>
    </div>

<!--    <aside th:text="${message}"></aside>-->
</body>
</html>

<!--    <div th:text="${1+2}"></div>-->
<!--    <div th:text="${@minesweeperController.getCurrTime()}"></div>-->
<!--    <div th:text="${@minesweeperController.currTime}"></div>-->

<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="sk">-->
<!--<head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <meta name="author" content="Stefan Korecko" />-->
<!--    <link rel="stylesheet"-->
<!--          href="/css/mines.css"-->
<!--          media="screen" />-->


<!--    <title>GameStudio - Minesweeper</title>-->
<!--</head>-->

<!--<body>-->

<!--<h2>Minesweeper</h2>-->

<!--<div class="minesControl">-->
<!--    <span th:if="${@minesweeperController.marking}">-->
<!--        Prave oznacujes.-->
<!--        <a  class="abutton" href="/minesweeper/mark">Zmen na otvaranie.</a>-->
<!--    </span>-->

<!--    <span th:if="not ${@minesweeperController.marking}">-->
<!--        Prave otvaras.-->
<!--        <a  class="abutton" href="/minesweeper/mark">Zmen na oznacovanie.</a>-->
<!--    </span>-->


<!--    <a  class="abutton" href="/minesweeper/new">Nova hra</a>-->

<!--</div>-->

<!--<div th:utext="${@minesweeperController.fieldAsHtml}"></div>-->

<!--</body>-->
<!--</html>-->