<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layoutGamestudio.html}"
        lang="sk">
<head>
    <title>Gamestudio - Piskvorky</title>
</head>
<body>
<main layout:fragment="content">
    <h2>Piškvorky</h2>

    <section>
        <table if="board" class="minefield">
            <tr th:each="row: ${board}">
                <td th:each="symbol: ${row}">
                    <a th:if="${@piskvorkyController.getCellText(symbol) == ' '}" th:attr="href='/piskvorky?row='+${rowStat.index}+'&column='+${symbolStat.index}">
                        <span th:text="${@piskvorkyController.getCellText(symbol)}"></span>
                    </a>
                    <span th:if="${@piskvorkyController.getCellText(symbol) == 'O'}" style="color:blue;">O</span>
                    <span th:if="${@piskvorkyController.getCellText(symbol) == 'X'}" style="color:red;">X</span>
                </td>
            </tr>
        </table>
    </section>


<script type="text/javascript">
    function drawSymbol(row, column) {
        // let board = document.getElementById(board);
        // board.rows[row].columns[column].innerHTML = "J";
        alert(row + " " + column);
    }
</script>
</main>
</body>
</html>