<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layoutGamestudio.html}"
        lang="sk">
<head>
    <title>Gamestudio - Piskvorky</title>
</head>
<body id="body">
<main layout:fragment="content">
    <h2>Piškvorky</h2>

    <div class="minesControl">
        <span id="score"></span>
        <button type="button" id="btNewGame" class="abutton" onclick="processNewGameClick()">Nová hra</button>
    </div>

    <section id="wrapper">
        <canvas id="grid"></canvas>
    </section>

    <section>
        <div>
            Priemerný rating: <span id="averageRating"></span>
        </div>
        <div id="averageRatingDivForm">
            <form id="ratingForm">
                <label for="rating">Pridaj svoje hodnotenie do hry:</label>
                <select id="rating" name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button type="submit">Pridaj</button>
                <br/>
            </form>
        </div>
    </section>

    <section>
        <h3>Najlepšie skóre</h3>
        <table class="scores">
            <thead>
            <tr>
                <th>Poradie</th>
                <th>Meno</th>
                <th>Body</th>
                <th>Dátum a čas hry</th>
            </tr>
            </thead>
            <tbody id="scoresTableBody">
            </tbody>
        </table>
    </section>

    <section>
        <br/>
        <label for="comment">Zadaj komentár, ak sa na to cítiš:</label> <br/>
        <form id="commentForm">
            <input id="comment" type="text" name="comment" maxlength="1000"/>
            <button id="commentSubmit" type="submit">Odoslať</button> <br/>
        </form>

        <div>
            <table class="comments">
                <thead>
                <tr>
                    <th>Meno</th>
                    <th>Komentár</th>
                    <th>Dátum</th>
                </tr>
                </thead>
                <tbody id="commentsTable">
                </tbody>
            </table>
        </div>
    </section>

<script type="text/javascript">

    let elements = {
        scoresTableBody: document.getElementById("scoresTableBody"),
        averageRating: document.getElementById("averageRating"),
        comments: document.getElementById("commentsTable")
    }

    let grid = document.getElementById("grid");
    grid.width = window.innerWidth * 0.35;
    grid.height = grid.width;
    let context = grid.getContext("2d");
    let gridWidth = grid.offsetWidth;
    let rowCount = 12;
    let cellWidth = gridWidth / rowCount;

    const score = document.getElementById("score");
    const divRatingForm = document.getElementById("averageRatingDivForm");

    drawCanvas();
    fetchGrid("/piskvorky/json");
    fetchAndRenderScores("/api/score/piskvorky", elements);
    fetchAndRenderRating("/api/rating/avg/piskvorky", elements);
    fetchAndRenderComments("/api/comment/piskvorky", elements);

    //------------------------------------
    // LISTENERS
    //------------------------------------
    grid.addEventListener("click", addSymbol)
    window.addEventListener("resize", event => {
        grid.width = window.innerWidth * 0.35;
        grid.height = grid.width;

        fetchGrid("/piskvorky/json");
    })
    document.getElementById("ratingForm").addEventListener("submit", event => {
        event.preventDefault();
        submitRating("http://localhost:8080/piskvorky/jsonrating");
    });
    document.getElementById("commentForm").addEventListener("submit", event => {
        event.preventDefault();
        submitComment("http://localhost:8080/piskvorky/jsoncomment");
    })

    //------------------------------------
    // SUBMITTING
    //------------------------------------
    async function submitComment(url) {
        const request =
            {
                method: 'POST',
                body: document.getElementById("comment").value.trim()
            }
        await fetch(url, request)
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    return Promise.reject(new Error(`Server answered with ${response.status}: ${response.statusText}.`));
                }
            });

        fetchAndRenderComments("/api/comment/piskvorky", elements);
    }

    async function submitRating(url) {
        const request =
            {
                method: 'POST',
                body: document.getElementById("rating").options[rating.selectedIndex].value
            }
        await fetch(url, request)
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    return Promise.reject(new Error(`Server answered with ${response.status}: ${response.statusText}.`));
                }
            });

        fetchAndRenderRating("/api/rating/avg/piskvorky", elements);
    }

    //------------------------------------
    // CLICKS
    //------------------------------------
    function addSymbol(event) {
        calculateCellWidth();

        let rect = event.target.getBoundingClientRect();
        let x = event.clientX - rect.left;
        let y = event.clientY - rect.top;

        let row = Math.floor(x / cellWidth);
        let col = Math.floor(y / cellWidth);

        fetchGrid(`/piskvorky/json?row=${row}&column=${col}`);
    }

    function processNewGameClick() {
        fetchGrid("/piskvorky/jsonnew");
    }

    //------------------------------------
    // FETCHING
    //------------------------------------
    function fetchGrid(url) {
        fetch(url)
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    return Promise.reject(new Error(`Grid acquisition failed. Server answered with ${response.status}: ${response.statusText}.`));
                }
            })
            .then(gridData => {
                score.innerHTML = `<span style="color:blue; font-size:200%;">${gridData.score[0]}</span>
                                   <span style="font-size:200%">:</span>
                                   <span style="color:red; font-size:200%;">${gridData.score[1]}</span>`;
                if (!gridData.playing) {
                    fetchAndRenderScores("/api/score/piskvorky", elements);
                    divRatingForm.style.visibility = 'visible';
                } else {
                    divRatingForm.style.visibility = 'hidden';
                }
                calculateCellWidth();
                context.clearRect(0, 0, gridWidth, gridWidth);
                drawCanvas();
                drawSymbols(gridData);
                drawCrossLines(gridData);
            })
            .catch(error => { ////here we process all the failed promises
                errorMessage = "Nepodarilo sa získať alebo zobraziť herné pole zo servera. Podrobnosti: " + error;
                console.log(errorMessage);
            });
    }

    function fetchAndRenderComments(url, elements) {
        fetch(url)  //there may be a second parameter, an object wih options, but we do not need it now.
            .then(response => {      //fetch promise fullfilled (operation completed successfully)
                if (response.ok) {    //successful execution includes an error response from the server. So we have to check the return status of the response here.
                    return response.json(); //we return a new promise with the response data as a js object, constructed from the JSON string in the response
                } else { //if we get server error
                    return Promise.reject(new Error(`Comments acquisition failed. Server answered with ${response.status}: ${response.statusText}.`)); //we return a rejected promise to be catched later
                }
            })
            .then(comments => { //here we process the returned response data in JSON ...
                renderComments(comments, elements);
            })
            .catch(error => { ////here we process all the failed promises
                errorMessage = "Nepodarilo sa získať alebo zobraziť komentáre. Podrobnosti: " + error;
                // console.log(errorMessage);
                elements.comments.innerHTML = errorMessage;
            });
    }

    function fetchAndRenderRating(url, elements) {
        fetch(url)  //there may be a second parameter, an object wih options, but we do not need it now.
            .then(response => {      //fetch promise fullfilled (operation completed successfully)
                if (response.ok) {    //successful execution includes an error response from the server. So we have to check the return status of the response here.
                    return response.json(); //we return a new promise with the response data as a js object, constructed from the JSON string in the response
                } else { //if we get server error
                    return Promise.reject(new Error(`Average rating acquisition failed. Server answered with ${response.status}: ${response.statusText}.`)); //we return a rejected promise to be catched later
                }
            })
            .then(rating => { //here we process the returned response data in JSON ...
                renderRating(rating, elements);
            })
            .catch(error => { ////here we process all the failed promises
                errorMessage = "Nepodarilo sa získať alebo zobraziť priemerný rating. Podrobnosti: " + error;
                // console.log(errorMessage);
                elements.averageRating.innerHTML = errorMessage;
            });
    }

    function fetchAndRenderScores(url, elements) {
        fetch(url)  //there may be a second parameter, an object wih options, but we do not need it now.
            .then(response => {      //fetch promise fullfilled (operation completed successfully)
                if (response.ok) {    //successful execution includes an error response from the server. So we have to check the return status of the response here.
                    return response.json(); //we return a new promise with the response data as a js object, constructed from the JSON string in the response
                } else { //if we get server error
                    return Promise.reject(new Error(`Best scores acquisition failed. Server answered with ${response.status}: ${response.statusText}.`)); //we return a rejected promise to be catched later
                }
            })
            .then(bestScoresData => { //here we process the returned response data in JSON ...
                renderBestScores(bestScoresData, elements);
            })
            .catch(error => { ////here we process all the failed promises
                errorMessage = "Nepodarilo sa získať alebo zobraziť údaje o najlepších skóre. Podrobnosti: " + error;
                // console.log(errorMessage);
                elements.scoresTableBody.innerHTML = errorMessage;
            });
    }

    //------------------------------------
    // RENDERING
    //------------------------------------
    function renderComments(comments, elements) {
        const rowCount = comments.length;
        let htmlToRender = "";

        for (row = 0; row < rowCount; row++) {
            htmlToRender +=
                `<tr>
                        <td>${comments[row].username}</td>
                        <td>${comments[row].comment}</td>
                        <td>${comments[row].commentedOn}</td>
                    </tr>`;
        }

        elements.comments.innerHTML = htmlToRender;
    }

    function renderRating(rating, elements) {
        elements.averageRating.innerHTML = rating;
    }

    function renderBestScores(bestScoresData, elements) {
        const rowCount = bestScoresData.length;
        let htmlToRender = "";

        for (row = 0; row < rowCount; row++) {
            htmlToRender +=
                `<tr>
                   <td>
                       ${row + 1}
                   </td>
                   <td>
                       ${bestScoresData[row].username}
                   </td>
                   <td>
                       ${bestScoresData[row].points}
                   </td>
                   <td>
                       ${bestScoresData[row].playedOn}
                   </td>
                </tr>
               `;

            elements.scoresTableBody.innerHTML = htmlToRender;
        }
    }

    //------------------------------------
    // DRAWING
    //------------------------------------
    function drawCanvas() {
        calculateCellWidth();
        context.strokeStyle = "black";
        context.lineWidth = 1;
        context.beginPath();
        for (let i = 0; i <= rowCount; i++) {
            context.moveTo(i * cellWidth, 0);
            context.lineTo(i * cellWidth, gridWidth);
            context.stroke();
        }
        for (let i = 0; i <= rowCount; i++) {
            context.moveTo(0, i * cellWidth);
            context.lineTo(gridWidth, i * cellWidth);
            context.stroke();
        }
    }

    function drawSymbols(gridData) {
        calculateCellWidth();
        context.lineWidth = 4;
        for (let row = 0; row < rowCount; row++) {
            for (let col = 0; col < rowCount; col++) {
                if (gridData.board[row][col].state == "CIRCLE") {
                    context.moveTo(row * cellWidth, col * cellWidth);
                    context.beginPath();
                    context.arc(row * cellWidth + (cellWidth / 2), col * cellWidth + (cellWidth / 2), cellWidth / 2, 0, 2 * Math.PI);
                    context.strokeStyle = "blue";
                    context.stroke();
                } else if (gridData.board[row][col].state == "CROSS") {
                    context.strokeStyle = "red";
                    context.beginPath();
                    context.moveTo(row * cellWidth, col * cellWidth);
                    context.lineTo(row * cellWidth + cellWidth, col * cellWidth + cellWidth);
                    context.stroke();
                    context.moveTo(row * cellWidth + cellWidth, col * cellWidth);
                    context.lineTo(row * cellWidth, col * cellWidth + cellWidth);
                    context.stroke();
                }
            }
        }
    }

    function drawCrossLines(gridData) {
        calculateCellWidth();
        context.lineWidth = 4;

        let nbOfCrossedSymbols = gridData.crossedSymbols.right.length;
        for (line = 0; line < nbOfCrossedSymbols; line++) {
            if (gridData.crossedSymbols.right[line].state == "CIRCLE") {
                context.strokeStyle = "blue";
                drawLine(gridData.crossedSymbols.right[line].position[0], gridData.crossedSymbols.right[line].position[1], "right");
            } else {
                context.strokeStyle = "red";
                drawLine(gridData.crossedSymbols.right[line].position[0], gridData.crossedSymbols.right[line].position[1], "right");
            }
        }
        nbOfCrossedSymbols = gridData.crossedSymbols.down.length;
        for (line = 0; line < nbOfCrossedSymbols; line++) {
            if (gridData.crossedSymbols.down[line].state == "CIRCLE") {
                context.strokeStyle = "blue";
                drawLine(gridData.crossedSymbols.down[line].position[0], gridData.crossedSymbols.down[line].position[1], "down");
            } else {
                context.strokeStyle = "red";
                drawLine(gridData.crossedSymbols.down[line].position[0], gridData.crossedSymbols.down[line].position[1], "down");
            }
        }
        nbOfCrossedSymbols = gridData.crossedSymbols.upRight.length;
        for (line = 0; line < nbOfCrossedSymbols; line++) {
            if (gridData.crossedSymbols.upRight[line].state == "CIRCLE") {
                context.strokeStyle = "blue";
                drawLine(gridData.crossedSymbols.upRight[line].position[0], gridData.crossedSymbols.upRight[line].position[1], "upRight");
            } else {
                context.strokeStyle = "red";
                drawLine(gridData.crossedSymbols.upRight[line].position[0], gridData.crossedSymbols.upRight[line].position[1], "upRight");
            }
        }
        nbOfCrossedSymbols = gridData.crossedSymbols.downRight.length;
        for (line = 0; line < nbOfCrossedSymbols; line++) {
            if (gridData.crossedSymbols.downRight[line].state == "CIRCLE") {
                context.strokeStyle = "blue";
                drawLine(gridData.crossedSymbols.downRight[line].position[0], gridData.crossedSymbols.downRight[line].position[1], "downRight");
            } else {
                context.strokeStyle = "red";
                drawLine(gridData.crossedSymbols.downRight[line].position[0], gridData.crossedSymbols.downRight[line].position[1], "downRight");
            }
        }
    }

    function drawLine(row, col, dir) {
        if (dir == "right") {
            context.beginPath();
            context.moveTo(row * cellWidth, col * cellWidth  + (cellWidth / 2));
            context.lineTo(row * cellWidth + 5 * cellWidth, col * cellWidth  + (cellWidth / 2));
            context.stroke();
        } else if (dir == "down") {
            context.beginPath();
            context.moveTo(row * cellWidth + (cellWidth / 2), col * cellWidth);
            context.lineTo(row * cellWidth + (cellWidth / 2), col * cellWidth + 5 * cellWidth);
            context.stroke();
        } else if (dir == "upRight") {
            context.beginPath();
            context.moveTo(row * cellWidth, col * cellWidth + cellWidth);
            context.lineTo(row * cellWidth + 5 * cellWidth, col * cellWidth - 4 * cellWidth);
            context.stroke();
        } else if (dir == "downRight") {
            context.beginPath();
            context.moveTo(row * cellWidth, col * cellWidth);
            context.lineTo(row * cellWidth + 5 * cellWidth, col * cellWidth + 5 * cellWidth);
            context.stroke();
        }
    }

    function calculateCellWidth() {
        gridWidth = grid.offsetWidth;
        cellWidth = gridWidth / rowCount;
    }

</script>
</main>
</body>
</html>


<!--    <section>-->
<!--        <table if="board" class="minefield">-->
<!--            <tr th:each="row: ${board}">-->
<!--                <td th:each="symbol: ${row}">-->
<!--                    <a th:if="${@piskvorkyController.getCellText(symbol) == ' '}" th:attr="href='/piskvorky?row='+${rowStat.index}+'&column='+${symbolStat.index}">-->
<!--                        <span th:text="${@piskvorkyController.getCellText(symbol)}"></span>-->
<!--                    </a>-->
<!--                    <span th:if="${@piskvorkyController.getCellText(symbol) == 'O'}" style="color:blue;">O</span>-->
<!--                    <span th:if="${@piskvorkyController.getCellText(symbol) == 'X'}" style="color:red;">X</span>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </section>-->
